/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
:root {
    --purple: #702E90;
    --green: #86C143;
    --orange: #ED8D29;
}

h1,
h2,
h3,
.nav--link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}


/* pre nav */

.prenav {
    height: 1em;
    background-color: var(--purple);
    text-align: center;
    padding: 0.4em;
    font-size: 0.8em;
}


/* banner */

.banner {
    width: 100%;
    background-image: url('/img/flowerbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 1em 3fr 1em;
    grid-template-areas: "bhead bhead bhead" ". bsub . " ". blink .";
    padding: 1.25em 0;
}

.banner--head {
    grid-area: bhead;
    align-self: end;
    text-shadow: 0px 1.5px 2px rgba(0, 0, 0, 1);
}

.banner--sub {
    grid-area: bsub;
    align-self: start;
    text-align: center;
    text-shadow: 0px 1.5px 2px rgba(150, 150, 150, 1);
    width: 18em;
}

.banner--link,
.banner--link:visited {
    grid-area: blink;
    padding: 10px 15px;
    background-color: var(--orange);
    align-self: start;
    border-radius: 0.2em;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-top: 0.5em;
}

.banner--link:hover,
.card--link:hover {
    background-color: #ED7128;
    cursor: pointer;
    /* -webkit-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.74); */
}

.banner--head,
.banner--sub {
    justify-self: center;
    color: white;
}

.services {
    background: url("/img/95063a37.png");
    display: grid;
    grid-template-columns: 1em 3fr 1em;
    grid-template-areas: " . shead ." ". fserv ." ". cserv ." ". pserv .";
    grid-gap: 1em 0.5em;
    padding-bottom: 1.8em;
}

.services--head {
    grid-area: shead;
    margin: 1em 0;
    justify-self: center;
}

.funeral--service {
    grid-area: fserv;
}

.cremation--service {
    grid-area: cserv;
}

.prearrang--service {
    grid-area: pserv;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--img {
    width: 100%;
}

.card>.container {
    padding: 0.6em;
    background-color: #ffffff;
}

.card--title,
.card--cont {
    color: var(--green);
    margin: 0.3em 0;
}

.card--link {
    display: block;
    padding: 0.5em 1em;
    background-color: var(--orange);
    text-align: center;
    border-radius: 0.2em;
    transition: 0.3s all ease-in-out;
    margin: 0.5em 0;
    font-weight: 700;
}

.obituaries {
    display: grid;
    grid-gap: 2em 0.5em;
    padding-bottom: 4em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". obh ." ". ob1 ." ". ob2 ." ". ob3 ." ". ob4 ." ". ob5 ." ". oblink .";
}

.obituaries--head {
    grid-area: obh;
    margin-top: 1em;
}

.ob,
.ob p,
.obituaries--head {
    justify-self: center;
    color: var(--orange);
}

.ob p {
    text-align: center;
}

.ob1 {
    grid-area: ob1;
}

.ob2 {
    grid-area: ob2;
}

.ob3 {
    grid-area: ob3;
}

.ob4 {
    grid-area: ob4;
}

.ob5 {
    grid-area: ob5;
}

.ob--img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.4em auto;
}

.ob--img img {
    width: auto;
    height: 100%;
    margin-left: -32%;
}

.ob--link {
    grid-area: oblink;
    background-color: #702E90;
}

.footer {
    background-color: var(--purple);
    padding: 2em 1em;
    text-align: center;
    display: block;
}

.footerinfo {
    padding: 0 2em;
}

.map {
    display: none;
}

.quicklinks,
.sign {
    margin-top: 2em;
}

.quicklinks li {
    list-style-type: none;
}

@media screen and (min-width:768px) {
    .banner--link {
        justify-self: center;
        width: 15em;
    }
    .services {
        grid-template-columns: 0.2em 1fr 1fr 1fr 0.2em;
        grid-template-areas: ". shead shead shead ." ".  pserv fserv cserv .";
        grid-gap: 0.6em;
    }
    .obituaries {
        display: grid;
        grid-gap: 1.5em 0.4em;
        grid-template-columns: 1em 1fr 1fr 1fr 1em;
        grid-template-areas: ". . obh . ." ". ob1 ob2 ob3 ." ". ob4 ob5 . ." ". . oblink . .";
    }
}

@media screen and (min-width:1024px) {
    .obituaries {
        grid-template-columns: 1em repeat(5, 2fr) 1em;
        grid-template-areas: ". . . obh . . ." ". ob1 ob2 ob3 ob4 ob5 ." ". . . oblink . . .";
        padding-bottom: 2em;
    }
    .footer {
        display: grid;
        grid-template-columns: 1em repeat(3, 2fr) 1em;
        grid-template-areas: ". fi map ql ." ". . sg . .";
    }
    .footerinfo {
        grid-area: fi;
        text-align: left;
        padding: 2em;
    }
    .quicklinks {
        grid-area: ql;
        margin-top: 0;
        padding: 2em;
    }
    .sign {
        grid-area: sg;
    }
    .map {
        display: block;
        grid-area: map;
    }
}