/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Vollkorn:400,700i');
:root {
    --purple: #702E90;
    --green: #86C143;
    --orange: #ED8D29;
}

h1,
h2,
h3 {
    font-family: 'Vollkorn', serif;
    color: #ffffff; 
    font-style: italic;
}

p,
a,.nav--link {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff; 
}

a, .nav--link {
    font-weight: 700;    
}

/* pre nav */

.prenav {
    height: 1em;
    background-color: var(--purple);
    text-align: center;
    padding: 0.4em;
    font-size: 0.8em;
}

clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* banner */

.banner {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('/img/flowerbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 1em 3fr 1em;
    grid-template-areas: ". bhead ." ". bsub ." ". blink .";
    padding: 2em 0;
    grid-area: ban;
}

.banner--head {
    display: none;
    grid-area: bhead;
}

.banner--sub {
    grid-area: bsub;
    align-self: center;
    text-align: center;
    text-shadow: 0px 1.5px 2px rgba(150, 150, 150, 1);
    font-size: 150%;
    font-weight: bold;
}

.banner--link,
.banner--link:visited {
    grid-area: blink;
    padding: 0.8em 1em;
    background-color:rgb(67, 193, 109);
    align-self: start;
    border-radius: 5em;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-top: 0.5em;
}

.banner--link:hover{
    background-color:var(--green);
    cursor: pointer;
}

.banner--head,
.banner--sub {
    justify-self: center;
    color: white;
}

.services {
    width: 100%;
    display: block;
    grid-area: serv;
}

.services div{
    width: 100%;
    height: 6em;
    margin-top: 0.3em;
}

.services p{
    line-height: 6em;
    text-align: center;
}

/* This repetition should have a work around though */
#service--funeral{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/img/fun.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#service--cremation{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/img/urn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#service--prearr{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/img/plan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* .obituaries {
    display: grid;
    grid-gap: 2em 0.5em;
    padding-bottom: 4em;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "obh obh obh" ". ob1 ." ". ob2 ." ". ob3 ." ". ob4 ." ". ob5 ." ". oblink .";
    background: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) );
    
} */

.obituaries {
    display: grid;
    grid-gap: 1.5em 0.4em;
    grid-template-columns: 1em 1fr 1fr 1em;
    grid-template-areas: ". obh obh  ." ". ob1 ob2 ." ". ob3 ob4 ." ". ob5 ob5 ." ". oblink oblink . ";
    padding-bottom: 2em;
    background: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) );
    grid-area: obi;
}

.obituaries--head {
    grid-area: obh;
    margin-top: 1em;
    text-align: center;
}

.ob,
.ob p,
.obituaries--head {
    justify-self: center;
    color: var(--purple);
}

.ob p {
    text-align: center;
}

.ob1 {
    grid-area: ob1;
}

.ob2 {
    grid-area: ob2;
}

.ob3 {
    grid-area: ob3;
}

.ob4 {
    grid-area: ob4;
}

.ob5 {
    grid-area: ob5;
}

.ob--img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.4em auto;
}

.ob--img img {
    width: auto;
    height: 100%;
    margin-left: -32%;
}

.ob--link {
    grid-area: oblink;
    background-color: #702E90;
    padding: 0.6em 2em;
    border-radius: 5em;
    text-align: center;
    transition: 0.3s;
}
.ob--link:hover {
    background-color: rgb(144, 46, 139);
}    

.footer {
    background-color: var(--purple);
    text-align: center;
    display: block;
}

.footerinfo {
    padding: 0 2em;
}

.map {
    overflow:hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
    margin-bottom:1em;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.quicklinks,
.sign {
    padding: 1em ;
}

.quicklinks li {
    list-style-type: none;
}


/* about styles */

.mv {
    background-color: var(--orange);
    padding: 1.5em 1em;
    text-align: justify;
}

.mv>* {
    padding: 1em 0;
}

@media screen and (min-width:768px) {
    .content{
        display: grid;
    }
    
    .banner{
        padding: 4em 0;
    }
    .banner--head {
        display: block;
        font-size: 380%;
    }
    .banner--sub {
        font-size: 100%;
        font-weight:400;
    }
    .banner--link {
        justify-self: center;
        width: 15em;
    }
    .services {
        grid-template-columns: 0.2em 1fr 1fr 1fr 0.2em;
        grid-template-areas: ". shead shead shead ." ".  pserv fserv cserv .";
        grid-gap: 0.6em;
    }
    .obituaries {
        display: grid;
        grid-gap: 1.5em 0.4em;
        grid-template-columns: 1em 1fr 1fr 1fr 1em;
        grid-template-areas: ". . obh . ." ". ob1 ob2 ob3 ." ". ob4 ob5 . ." ". . oblink . .";
    }
}

@media screen and (min-width:1024px) {
    .obituaries {
        grid-template-columns: 1em repeat(5, 2fr) 1em;
        grid-template-areas: ". . . obh . . ." ". ob1 ob2 ob3 ob4 ob5 ." ". . . oblink . . .";
        padding-bottom: 2em;
    }
    .footer {
        display: grid;
        grid-template-columns: 1em repeat(3, 2fr) 1em;
        grid-template-areas: ". fi map ql ." ". . sg . .";
    }
    .footerinfo {
        grid-area: fi;
        text-align: left;
        padding: 2em;
    }
    .quicklinks {
        grid-area: ql;
        margin-top: 0;
        padding: 2em;
    }
    .sign {
        grid-area: sg;
    }
    .map {
        display: block;
        grid-area: map;
    }
    .mv {
        padding: 2em 3em;
    }
    .mission,
    .values {
        width: 45%;
    }
    .mission {
        float: left;
    }
    .values {
        float: right;
    }
}
